<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <% filter3.forEach((listing) => { %>
            <div class="item" herf="<%= listing.link %>">
                <h1><%= listing.title %></h1>
                <h1><%= listing.link %></h1>
                <img src="<%= listing.images[0] %>"  >
                <h2><%= listing.name %></h2>
                <p>Price: <%= listing.facts[0] %></p>
                <p>Bedrooms: <%= listing.facts[1] %></p>
                
            </div>
        <% }); %>
    </div>
</body>
</html>